@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-stone-800 bg-stone-50 font-sans;
  }
  h1, h2, h3 {
    @apply font-serif;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
